#svg8 {
  margin-left: 5vw;
    height: 90vh;
  width: 90vw;
}

body {
  background: black;
}

#enterWord {
  margin-top: 5vh;
  text-align: center;
}

#wordEnter {
  color: white;
  background: black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: dashed;
  font-size: 3vw;
  font-family: "Mali",cursive;
  text-align: center;
}

#wordEnter:focus {
  outline-width: 0;
}

path {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.fillBox {
  border-color: #ffffff;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-right: 5px;
  font-family: "Mali", cursive;
  font-size: 5vh;
  text-align: center;
  height: 10vh;
  width: 10vw;
}

#proceedBtn {
  text-align: center;
  color: white;
  margin-top: 5vh;
  font-size: 3vw;
  font-family: "Mali", cursive;
}

#proceedBtn:hover {
  cursor: pointer;
}

.options {
  width: 20%;
  height: 20%;
  opacity: 0.3;
  display: none;
}

img.options:hover {
  cursor: pointer;
  opacity: 1;
}

#hangmanMainContent {
  padding: 0;
  margin: 0;
  display: none;
}

#numberOfLettersAsk {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#statusDisplay {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.statusBoxes {
  text-align: center;
  line-height: 17vw;
  color: white;
  height: 20vw;
  width: 20vw;
  font-size: 10vw;
  font-family: "Mali", cursive;
}

.boxEnclose {
  border: 3px solid;
}

.colorGreen {
  color: green;
  display: none;
}

.colorRed {
  color: red;
  display: none;
}

#question {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  font-size: 3vw;
  font-family: 'Mali', cursive;
  display: inline-block;
  margin-top: 3%;
}

#gamePlayStart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 25vh;
}

#restart {
  margin-top: 15vh;
  font-size: 4vw;
  text-align: center;
  display: none;
}

#restart:hover {
  cursor: pointer;
}
